
body {
    background-color: rosybrown;
  }
  
  h1 {
    color: sienna;
    text-align: left;
    font-family: garamond;
    font-size: 32px;
  }

  h2 {
      text-align: left;
      font-family: garamond;
      font-style: 14px;
  }
  
  p {
    text-align: left;
    font-family: garamond;
    font-size: 14px;
  }