
body {
    background-color: snow;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  h1 {
    color: darkslategrey;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: 900;
  }

  h2 {
      color: darkslategrey;
      text-align: left;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 18px;
      font-weight: 100;    
  }

  br {
    color: darkslategrey;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }
  
  p {
    color: darkslategrey;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }

  ul {
    color: darkslategrey;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }

  footer {
    color: salmon;
    text-align: center;
    font-family: Garamond;
  }

  a {
    color: salmon;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }

  a:visited {
    color: darkred;
    text-align: left;
    font-family: Garamond;
    font-size: 18x;
  }