
body {
    background-color: snow;
  }
  
  h1 {
    color: darkslategrey;
    text-align: left;
    font-family: Helvetica;
    font-weight: 900;
    font-size: 32px;
  }

  h2 {
      color: darkslategrey;
      text-align: left;
      font-family: Helvetica;
      font-style: italic;
      font-weight: 5;
      font-style: 18px;
  }
  
  p {
    color: darkslategrey;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }

  ul {
    color: darkslategrey;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }