
body {
    background-color: snow;
  }
  
  h1 {
    color: darkslategrey;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 32px;
  }

  h2 {
      color: darkslategrey;
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 1000;
      font-style: 18px;
  }
  
  p {
    color: darkslategrey;
    text-align: left;
    font-family: garamond;
    font-size: 18px;
  }