
body {
    background-color: snow;
  }
  
  h1 {
    color: darkslategrey;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 32px;
  }

  h2 {
      color: darkslategrey;
      text-align: left;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style: italic;
      font-weight: 100;
      font-style: 18px;
  }

  h3 {
    color: darkslategrey;
    text-align: left;
    font-family: Garamond;
    font-weight: 100;
    font-style: 18px;
  }
  
  p {
    color: darkslategrey;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }

  ul {
    color: darkslategrey;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }

  a:active {
    color: salmon;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }

  a:visited {
    color: darkred;
    text-align: left;
    font-family: Garamond;
    font-size: 18px;
  }

  footer {
    color: darkslategrey;
    text-align: center;
    font-family: Garamond;
    font-size: 10px;
  }